@import "_reset.css";
@import "_typography.css";

:root {
  --typography: hsl(220, 20%, 60%);
  --link: hsl(221, 20%, 100%);
  --accent: hsl(313, 100%, 35%);
}

body {
  background-color: hsl(220, 30%, 5%);
  color: var(--typography);
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: 1.5;
}

a {
  color: var(--link);
  text-decoration: none;
  &:hover {
    color: var(--accent)
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 2rem;
  min-height: 100vh;
}
