@import "_reset.css";
@import "_typography.css";
@import "_layout.css";

:root {
  --typography: 220, 20%, 60%;
  --link: 221, 20%, 100%;
  --accent: 313, 100%, 35%;
  --background: 220, 30%, 5%;
}

@media (prefers-color-scheme: light) {
  :root {
    --typography: 220, 70%, 10%;
    --link: 313, 100%, 35%;
    --accent: 313, 100%, 35%;
    --background: 223, 100%, 95%;
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--typography));
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: hsl(var(--link));
  &:hover {
    color: hsl(var(--accent));
  }
}

blockquote {
  font-style: italic;
  border-left: 4px solid hsl(var(--accent));
  padding-left: 1rem;
  margin: 1rem 0;
}
